@media screen and (min-width: 639px){
    main{
        background-color: red;
    }

    nav.nav-mobile{
        display: none;
    }

    nav.nav-big{
        display: flex;
    }

    .main{
        width: calc(100vw - 250px);
    }
}